.animation-bomb {
	-webkit-animation: animation_bomb 1000ms linear backwards;
	animation: animation_bomb 1000ms linear backwards;
}

@keyframes animation_bomb {
	0% {
		background-image: url(./static/SE/bomb/0.png);
		background-repeat: no-repeat;
		background-position:center 50%;
	}

	14.3% {
		background-image: url(./static/SE/bomb/1.png);
		background-repeat: no-repeat;
		background-position:center 50%;
	}

	28.6% {
		background-image: url(./static/SE/bomb/2.png);
		background-repeat: no-repeat;
		background-position:center 50%;
	}

	42.9% {
		background-image: url(./static/SE/bomb/3.png);
		background-repeat: no-repeat;
		background-position:center 50%;
	}

	57.2% {
		background-image: url(./static/SE/bomb/4.png);
		background-repeat: no-repeat;
		background-position:center 50%;
	}

	71.5% {
		background-image: url(./static/SE/bomb/5.png);
		background-repeat: no-repeat;
		background-position:center 50%;
	}

	85.8% {
		background-image: url(./static/SE/bomb/6.png);
		background-repeat: no-repeat;
		background-position:center 50%;
	}

	100% {
		background-image: url(./static/SE/bomb/7.png);
		background-repeat: no-repeat;
		background-position:center 50%;
	}
}

.animation-feiji {
	-webkit-animation: animation_feiji 1000ms linear backwards;
	animation: animation_feiji 1000ms linear backwards;
}

@keyframes animation_feiji {
	0% {
		top: 70vh;
	}

	100% {
		top: -40vh;
	}
}